@import url('https://fonts.googleapis.com/css2?family=Praise&family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&family=Quicksand:wght@600;700&family=Roboto:wght@300;900&display=swap');

.page{
    background: white;

    margin: 0px;

    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 60px calc(400vh - 60px) auto;
}

.page .rodape{
    background: #0099ff;
    grid-area: rodape;
}