.cabecalho{
    /*background: #00cc99;       usado pra ver as delimitações das caixas grid*/
    font-family: Quicksand, bold;
    
    height: 60px;
    
    grid-area: cabecalho;
    display: grid;
    grid-template-areas: 
        "icone"
        "barra_menu"
        "entrar";
    grid-template-columns:10% 75% 15%;
    grid-template-rows: auto;
}

    .cabecalho .icone{
        /*background: chartreuse;       usado pra ver as delimitações das caixas grid*/
        display: flex;
        align-items: center;
        justify-content: center;

    }

        .cabecalho .icone img{
            width: 50px;   
            height: 50px;
        }

    .cabecalho .barra_menu{
        display: flex;
        align-items: center;
    }

        .cabecalho .barra_menu .page_inicial{
            margin-left: 6px;
            margin-right: 6px;
        }

        .cabecalho .barra_menu .page_pvoce{
            margin-left: 6px;
            margin-right: 6px;
        }

        .cabecalho .barra_menu .page_pnegocio{
            margin-left: 6px;
            margin-right: 6px;
        }

        .cabecalho .barra_menu .page_banco{
            margin-left: 6px;
            margin-right: 6px;
        }

        .cabecalho .barra_menu .page_perguntas{
            margin-left: 6px;
            margin-right: 6px;
        }

    .cabecalho .entrar{
        /*background-color: aqua;       usado pra ver as delimitações das caixas grid*/
        
        display: flex;
        align-items: center;                    /* ALINHAR ITENS FLEXBOX AO CENTRO */
        justify-content: center;
    }

        .cabecalho .entrar h3{
            margin: 5px;
        }

        .cabecalho .entrar img{
            margin: 5px;
            width: 35px;   
            height: 35px;
        }

