.cabecalho{
    /*background: #00cc99;       usado pra ver as delimitações das caixas grid*/
    font-family: Quicksand, bold;

    height: 60px;
    
    grid-area: cabecalho;
    display: flex;
    justify-content: space-around;
}
    .cabecalho .icone{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .cabecalho .icone img{
            max-width: 80px;   
            max-height: 40px;
        }

    .cabecalho .barra_menu{
        display: flex;
        align-items: center;
    }

    .cabecalho .barra_menu div{
        margin: 0px 10px 0px 10px ;
    }

/*
        .cabecalho .barra_menu .page_inicial{
            margin-left: 12px;
            margin-right: 12px;
        }

        .cabecalho .barra_menu .page_pvoce{
            margin-left: 12px;
            margin-right: 12px;
        }

        .cabecalho .barra_menu .page_pnegocio{
            margin-left: 12px;
            margin-right: 12px;
        }

        .cabecalho .barra_menu .page_banco{
            margin-left: 12px;
            margin-right: 12px;
        }

        .cabecalho .barra_menu .page_perguntas{
            margin-left: 12px;
            margin-right: 12px;
        }
*/

    .cabecalho .entrar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .cabecalho .entrar h3{
            margin: 5px;
        }

        .cabecalho .entrar img{
            margin: 5px;
            width: 35px;   
            height: 35px;
        }

@media (max-width: 500px){
    
    .cabecalho{

        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }

    .cabecalho .icone{
        margin: 20px;
    }
    
    .cabecalho .barra_menu{
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .cabecalho .barra_menu div{
        margin: -5px 0px -5px 0px;
    }

    .cabecalho .entrar{
        margin: 20px;
    }

}