@import url('https://fonts.googleapis.com/css2?family=Praise&family=Quicksand:wght@300;600;700&family=Raleway:wght@200;700;900&family=Roboto:wght@300;900&display=swap');

.blackIcon {color:whiteite;}
.page{
    background: white;

    margin: 0px;

    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 60px 400vh auto;
}

.page h1{
    font-weight: bolder;
    font-size: 45px
}

.page h3{
    font-size: 17px;
}

.page h2{
    font-size: 25px;
}