.principal{
    background: rgb(255, 154, 154);
    font-family: 'Raleway', sans-serif;
    grid-area: principal;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
}

    .principal .principal-sessao1{ 
        background: white;
        background-image: url(../imagens/imagem_background_1.jpg);
        background-repeat: no-repeat;
        background-position:unset;
        background-size: cover;
    }

        .principal .principal-sessao1 .principal-sessao1-texto{
            padding: 120px;
            margin-right: 40%;
            color: rgb(0, 0, 0);
        }

            .principal .principal-sessao1 .principal-sessao1-texto span{
                color: #f4ff2f ;
                text-shadow: 2px 2px #282828;
            }

        .principal .principal-sessao1 img{
            padding: 120px;
            max-width: 405px;   
            max-height: 405px;
        }

    .principal .principal-sessao2{
        background-image: url(../imagens/imagem_background_2.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        
    }

        .principal .principal-sessao2 .principal-sessao2-texto{
            padding: 120px;
            margin-left: 50%;
            color: rgb(0, 0, 0);
            color: white;
        }

            .principal .principal-sessao2 .principal-sessao2-texto h1{
                color: #f4ff2f ;
                text-shadow: 2px 2px #282828;
                margin-bottom: -18px;
            }

            .principal .principal-sessao2 .principal-sessao2-texto h2{
                font-size: 40px;
            }

    .principal .principal-sessao3{
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-image: url(../imagens/imagem_background_3.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        }

        .principal .principal-sessao3 .principal-sessao3-texto{
            padding: 120px;
            margin-right: 50%;
            color: rgb(0, 0, 0);
        }

            .principal .principal-sessao3 .principal-sessao3-texto h1{
                color: #f4ff2f ;
                text-shadow: 2px 2px #282828;
                margin-bottom: -18px;
            }

            .principal .principal-sessao3 .principal-sessao3-texto h2{
                font-size: 40px;
            }
/*
ajeitou o forms
*/